{% extends "site_base.html" %}

{% load wagtailuserbar cms_tags %}

{% block head_title %}
{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}
{% block title_suffix %}
{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
{% wagtailuserbar %}

<!-- {% block menu %}
    {% get_site_root as site_root %}
    {% top_menu parent=site_root calling_page=self %}
{% endblock %} -->

<div class="main container">
    {% block heading %}
    <div class="page-header">
        <h1>{{ self.title }}</h1>
    </div>
    {% endblock %}

    {% block content %}{% endblock %}
</div>

{% endblock %}